[attr]lock filter=lfs diff=lfs merge=binary -text lockable
[attr]lockonly lockable
[attr]lfs filter=lfs diff=lfs merge=binary -text
[attr]lfstext filter=lfs diff=lfstext merge=lfstext -text
# Text files
.clang-format           text
.gitattributes          text
.gitignore              text
.tgitconfig             text
.dockerignore           text
.editorconfig           text
.lfsconfig              text
.vsconfig               text
COPYING                 text
Dockerfile              text
Gemfile                 text
gradlew                 text
hooks/pre-receive       text
LICENSE                 text
Makefile                text
README                  text
VERSION                 text
analyze                 text
format                  text
# Text extensions
*.adoc                  text
*.asc                   text
*.bat                   text
*.c                     text
*.cfg                   text
*.cmd                   text
*.collection            text
*.conf                  text
*.config                text
*.cpp                   text
*.cs                    text
*.cshtml                text
*.csproj                text
*.css                   text
*.csv                   text
*.def                   text
*.docker                text
*.DotSettings           text
*.ftl                   text
*.glsl                  text
*.groovy                text
*.h                     text
*.hbs                   text
*.hcl                   text
*.hlsl                  text
*.hpp                   text
*.htm                   text
*.html                  text
*.http                  text
*.idl                   text
*.in                    text
*.inc                   text
*.inf                   text
*.ini                   text
*.inl                   text
*.kt                    text
*.kts                   text
*.lua                   text
*.j2                    text
*.java                  text
*.js                    text
*.json                  text
*.lock                  text
*.mak                   text
*.make                  text
*.md                    text
*.mm                    text
*.mk                    text
*.natvis                text
*.nomad                 text
*.patch                 text
*.pbxproj               text
*.pem                   text
*.pl                    text
*.plist                 text
*.props                 text
*.properties            text
*.properties.j2         text
*.proto                 text
*.ps1                   text
*.puml                  text
*.py                    text
*.Processor             text
*.runsettings           text
*.razor                 text
*.rc                    text
*.reg                   text
*.ruleset               text
*.service               text
*.settings              text
*.sh                    text eol=lf
*.sln                   text
*.template              text
*.tip                   text
*.toml                  text
*.tpl                   text
*.tps                   text
*.ts                    text
*.txt                   text
*.uplugin               text
*.uproject              text
*.usf                   text
*.ush                   text
*.vcproj                text
*.vcxproj               text
*.vcxproj.filters       text
*.vdf                   text
*.version               text
*.xcscheme              text
*.xcworkspacedata       text
*.xml                   text
*.yaml                  text
*.yml                   text
# Unreal Engine file types
*.uasset    lock 
*.umap      lock 
*.locres    lfs
*.locmeta   lfs
# Binaries
*.a         lfs
*.archive   lfs
*.cer       lfs
*.chm       lfs
*.crt       lfs
*.csd       lfs
*.csm       lfs
*.cso       lfs
*.dat       lfs
*.db        lfs
*.dll       lfs
*.dmg       lfs
*.dylib     lfs
*.exe       lfs
*.exp       lfs
*.hda       lfs
*.hdalc     lfs
*.hiplc     lfs
*.jar       lfs
*.lib       lfs
*.manifest  lfs
*.obj       lfs
*.otf       lfs
*.p12       lfs
*.pdb       lfs
*.pdf       lfs
*.pfx       lfs
*.prx       lfs
*.pvk       lfs
*.rtf       lfs
*.sig       lfs
*.sis       lfs
*.so        lfs
*.so.*      lfs
*.sfo       lfs
*.spc       lfs
*.ttf       lfs
*.tga       lfs
*.tgz       lfs
*.ucp       lfs
*.vars      lfs
*.wem       lfs
*.woff      lfs
*.xlsx      lfs
*.zip       lfs
# Images
*.bmp       lfs
*.gif       lfs
*.ico       lfs
*.icns      lfs
*.png       lfs
# Sound
*.bank      lfs
*.bnk       lfs
*.flac      lfs
*.mp3       lfs
*.ogg       lfs
*.wav       lfs
# Video 
*.bk2       lfs
*.mp4       lfs
# FSR2 Files Extension
**/FSR2/**/*.h.d            text
# Keep branch version of build config file 
.build merge=ours

# Exclude WP uassets from locking
Game/Content/__ExternalActors__/**/*.uasset lfs
Game/Content/__ExternalObjects__/**/*.uasset lfs

# Assembly semantic diff/merge
Game/Content/Kombez/Assembly/**/DA_*.uasset diff=assembly merge=assembly
